<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>How-to-Guardian Talk</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
            <%= if MyAppWeb.Guardian.Plug.current_resource(@conn) do %>
              <li><%= link "Sign Out", to: Routes.session_path(@conn, :delete), method: :delete %></li>
            <% else %>
              <li><%= link "Sign In", to: Routes.session_path(@conn, :new) %></li>
            <% end %>
          </ul>
        </nav>
          <h1>Made with ❤️ by <%= link "@felix-starman", to: "https://github.com/felix-starman/" %></h1>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>

    <%= if @conn.params["debug"] do %>
      <footer>
        <p><%= inspect @conn.private %></p>
        <p>User: <%= inspect MyAppWeb.Guardian.Plug.current_resource(@conn) %></p>
      </footer>
    <% end %>
  </body>
</html>
